@import "../../styles/textFont.module";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .createTaskBtn {
    padding-top: 70px;

    .createBtnFont {
      @extend .textFont;
      font-size: 16px;
      padding: 20px;
    }
  }
}
