@import "../../../styles/textFont.module";

.card {
  height: 170px;
  width: 500px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .cardInput {
    @extend .textFont;
    width: 450px;
    border-color: #4096ff;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
  }

  .cardInputDescr {
    @extend .cardInput;
    font-size: 15px;
  }

  .cardButtons {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
  }
}
